- name: Controller
  count: 1
  hostname_format: controller-%index%
  ansible_playbooks:
    - playbook: bm-deploy-playbook.yaml
  defaults:
    profile: control
    networks:
      - network: external
        subnet: external_subnet
      - network: internal_api
        subnet: internal_api_subnet01
      - network: storage
        subnet: storage_subnet01
      - network: storage_mgmt
        subnet: storage_mgmt_subnet01
      - network: tenant
        subnet: tenant_subnet01
    network_config:
      template: templates/multiple_nics/multiple_nics_dvr.j2
      default_route_network:
        - external
  instances:
    - hostname: controller-0
      managed: false
      management_ip: {{ hostvars['baremetal-leaf1-0']['ansible_host'] }}
      networks:
        - network: ctlplane
          vif: false
          fixed_ip: {{ hostvars['baremetal-leaf1-0']['ansible_host'] }}

- name: Compute
  count: 1
  hostname_format: compute-%index%
  ansible_playbooks:
    - playbook: bm-deploy-playbook.yaml
  defaults:
    profile: compute-leaf2
    networks:
      - network: internal_api
        subnet: internal_api_subnet02
      - network: tenant
        subnet: tenant_subnet02
      - network: storage
        subnet: storage_subnet02
    network_config:
      template: templates/multiple_nics/multiple_nics_dvr.j2
  instances:
    - hostname: compute-0
      managed: false
      management_ip: {{ hostvars['baremetal-leaf2-0']['ansible_host'] }}
      networks:
        - network: ctlplane
          vif: false
          fixed_ip: {{ hostvars['baremetal-leaf2-0']['ansible_host'] }}
